In [18]:
import pandas as pd
import calendar
import hvplot.pandas
from sqlalchemy import create_engine
import csv
import numpy as np
import matplotlib.pyplot as plt
import panel as pn
import hvplot.pandas

In [ ]:
pn.extension('plotly')

In [25]:
senator_csv = ('senators.csv')

senator_df = pd.read_csv(senator_csv).dropna() # remove NA 


print(senator_df)

     transaction_date   owner ticker asset_type            type     amount  \
0           4/18/2023  Spouse    ESS      Stock     Sale (Full)   $15,000
1           4/18/2023    Self    ESS      Stock     Sale (Full)   $15,000
3            4/4/2023  Spouse    UPS      Stock     Sale (Full)   $15,000
4            4/4/2023  Spouse    MCD      Stock  Sale (Partial)   $15,000
5            4/4/2023  Spouse    DUK      Stock     Sale (Full)   $50,000
...               ...     ...    ...        ...             ...        ...
7627        1/16/2015    Self    NOG      Stock        Purchase   $50,000
7628         1/6/2015    Self    FCX      Stock     Sale (Full)  $100,000
7640       12/12/2014  Spouse    XOM      Stock     Sale (Full)   $15,000
7641       12/19/2014  Spouse     BA      Stock        Purchase   $15,000
7642       12/12/2014  Spouse    BAC      Stock     Sale (Full)   $15,000

     state                           industry               senator
0       RI      Real Estate Investment Trusts    Sheldon Whitehouse
1       RI      Real Estate Investment Trusts    Sheldon Whitehouse
3       WV  Trucking Freight/Courier Services  Shelley Moore Capito
4       WV                        Restaurants  Shelley Moore Capito
5       WV                   Power Generation  Shelley Moore Capito
...    ...                                ...                   ...
7627    ND               Oil & Gas Production           John Hoeven
7628    ND                    Precious Metals           John Hoeven
7640    KS           Integrated oil Companies           Pat Roberts
7641    KS                          Aerospace           Pat Roberts
7642    KS                        Major Banks           Pat Roberts

[5501 rows x 9 columns]

In [24]:
import yfinance as yf



selected_columns = senator_df[['transaction_date', 'type', 'amount', 'senator']]
print(selected_columns)

     transaction_date            type    amount               senator
0           4/18/2023     Sale (Full)  $15,000     Sheldon Whitehouse
1           4/18/2023     Sale (Full)  $15,000     Sheldon Whitehouse
2           5/16/2023             NaN       NaN     Michael F. Bennet
3            4/4/2023     Sale (Full)  $15,000   Shelley Moore Capito
4            4/4/2023  Sale (Partial)  $15,000   Shelley Moore Capito
...               ...             ...       ...                   ...
8441        8/17/2012             NaN       NaN    Sheldon Whitehouse
8442        8/16/2012             NaN       NaN           Pat Roberts
8443        8/15/2012             NaN       NaN           Rob Portman
8444         8/2/2012             NaN       NaN      Thomas R. Carper
8445        7/25/2012             NaN       NaN     Benjamin L Cardin

[8446 rows x 4 columns]

In [ ]:
msft_tickers = yf.Tickers('MSFT')