In [1]:
import pandas as pd
import csv
from pathlib import Path
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
tickers_data = Path("/Users/matt/Desktop/senator_trading_performance/senators_fixed_dates_&amounts.csv")
tickers_data_df = pd.read_csv(tickers_data, infer_datetime_format=True, parse_dates=True)

tickers_data_df

,transaction_date,owner,ticker,asset_type,type,amount,state,industry,senator
0,4/18/2023,Spouse,ESS,Stock,Sale (Full),"$15,000",RI,Real Estate Investment Trusts,Sheldon Whitehouse
1,4/18/2023,Self,ESS,Stock,Sale (Full),"$15,000",RI,Real Estate Investment Trusts,Sheldon Whitehouse
2,5/16/2023,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Michael F. Bennet
3,4/4/2023,Spouse,UPS,Stock,Sale (Full),"$15,000",WV,Trucking Freight/Courier Services,Shelley Moore Capito
4,4/4/2023,Spouse,MCD,Stock,Sale (Partial),"$15,000",WV,Restaurants,Shelley Moore Capito
...,...,...,...,...,...,...,...,...,...
8441,8/17/2012,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Sheldon Whitehouse
8442,8/16/2012,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Pat Roberts
8443,8/15/2012,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Rob Portman
8444,8/2/2012,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Thomas R. Carper
8445,7/25/2012,NaN,NaN,PDF Disclosed Filing,NaN,NaN,NaN,NaN,Benjamin L Cardin

Find the specific tickers that each senator is trading and bring in data for those tickers

Senator, date, amount, ticker, type

In [29]:
tickers_df_dropped=tickers_data_df.dropna()
tickers_df_dropped.head

<bound method NDFrame.head of      transaction_date   owner ticker asset_type            type     amount  \
0           4/18/2023  Spouse    ESS      Stock     Sale (Full)   $15,000
1           4/18/2023    Self    ESS      Stock     Sale (Full)   $15,000
3            4/4/2023  Spouse    UPS      Stock     Sale (Full)   $15,000
4            4/4/2023  Spouse    MCD      Stock  Sale (Partial)   $15,000
5            4/4/2023  Spouse    DUK      Stock     Sale (Full)   $50,000
...               ...     ...    ...        ...             ...        ...
7627        1/16/2015    Self    NOG      Stock        Purchase   $50,000
7628         1/6/2015    Self    FCX      Stock     Sale (Full)  $100,000
7640       12/12/2014  Spouse    XOM      Stock     Sale (Full)   $15,000
7641       12/19/2014  Spouse     BA      Stock        Purchase   $15,000
7642       12/12/2014  Spouse    BAC      Stock     Sale (Full)   $15,000

     state                           industry               senator
0       RI      Real Estate Investment Trusts    Sheldon Whitehouse
1       RI      Real Estate Investment Trusts    Sheldon Whitehouse
3       WV  Trucking Freight/Courier Services  Shelley Moore Capito
4       WV                        Restaurants  Shelley Moore Capito
5       WV                   Power Generation  Shelley Moore Capito
...    ...                                ...                   ...
7627    ND               Oil & Gas Production           John Hoeven
7628    ND                    Precious Metals           John Hoeven
7640    KS           Integrated oil Companies           Pat Roberts
7641    KS                          Aerospace           Pat Roberts
7642    KS                        Major Banks           Pat Roberts

[5501 rows x 9 columns]>

In [34]:
tickers_df=pd.DataFrame(tickers_df_dropped)
# tickers_df

tickers_df=tickers_df[['transaction_date', 'ticker', 'type', 'amount', 'senator']]
display(tickers_df)

     transaction_date ticker            type     amount               senator
0           4/18/2023    ESS     Sale (Full)   $15,000     Sheldon Whitehouse
1           4/18/2023    ESS     Sale (Full)   $15,000     Sheldon Whitehouse
3            4/4/2023    UPS     Sale (Full)   $15,000   Shelley Moore Capito
4            4/4/2023    MCD  Sale (Partial)   $15,000   Shelley Moore Capito
5            4/4/2023    DUK     Sale (Full)   $50,000   Shelley Moore Capito
...               ...    ...             ...        ...                   ...
7627        1/16/2015    NOG        Purchase   $50,000            John Hoeven
7628         1/6/2015    FCX     Sale (Full)  $100,000            John Hoeven
7640       12/12/2014    XOM     Sale (Full)   $15,000            Pat Roberts
7641       12/19/2014     BA        Purchase   $15,000            Pat Roberts
7642       12/12/2014    BAC     Sale (Full)   $15,000            Pat Roberts

[5501 rows x 5 columns]

In [35]:
tickers_counts=tickers_df['ticker'].value_counts()
msft_counts=tickers_counts['MSFT']


msft_counts

96

In [36]:
most_common_ticker=tickers_df['ticker'].value_counts().head(5)
most_common_ticker

AAPL    168
MSFT     96
BAC      81
DIS      79
PFE      77
Name: ticker, dtype: int64

Bring in daily close for AAPL for every transaction, iterate through list and bring in daily close price for transaction date and 30 days into the future.

In [53]:
msft_filtered_df=tickers_df[(tickers_df['ticker']=='MSFT') & (tickers_df['amount'])]
# display(msft_filtered_df)

aapl_filtered_df=tickers_df[(tickers_df['ticker']=='AAPL') & (tickers_df['amount'])]
# display(aapl_filtered_df)

bac_filtered_df=tickers_df[(tickers_df['ticker']=='BAC') & (tickers_df['amount'])]
# display(bac_filtered_df)

dis_filtered_df=tickers_df[(tickers_df['ticker']=='DIS') & (tickers_df['amount'])]
# display(dis_filtered_df)

pfe_filtered_df=tickers_df[(tickers_df['ticker']=='PFE') & (tickers_df['amount'])]
# display(pfe_filtered_df)

combined_data=pd.concat([msft_filtered_df, aapl_filtered_df, bac_filtered_df, dis_filtered_df, pfe_filtered_df], axis=0)
display(combined_data)

     transaction_date ticker            type    amount           senator
50           4/3/2023   MSFT  Sale (Partial)  $50,000   Tommy Tuberville
293        11/22/2022   MSFT        Purchase  $15,000       Dan Sullivan
301        11/22/2022   MSFT        Purchase  $15,000       Dan Sullivan
309        11/22/2022   MSFT        Purchase  $15,000       Dan Sullivan
318        11/30/2022   MSFT        Purchase  $50,000       Dan Sullivan
...               ...    ...             ...       ...               ...
7323        4/29/2015    PFE  Sale (Partial)  $15,000       David Perdue
7325         5/6/2015    PFE  Sale (Partial)  $15,000       David Perdue
7326         5/6/2015    PFE  Sale (Partial)  $15,000       David Perdue
7327         5/7/2015    PFE  Sale (Partial)  $15,000       David Perdue
7329        5/14/2015    PFE  Sale (Partial)  $15,000       David Perdue

[501 rows x 5 columns]

In [54]:
dup_drop=combined_data.drop_duplicates()
dup_drop

     transaction_date ticker            type    amount           senator
50           4/3/2023   MSFT  Sale (Partial)  $50,000   Tommy Tuberville
293        11/22/2022   MSFT        Purchase  $15,000       Dan Sullivan
318        11/30/2022   MSFT        Purchase  $50,000       Dan Sullivan
323        11/23/2022   MSFT     Sale (Full)  $50,000   Tommy Tuberville
324        11/23/2022   MSFT        Purchase  $15,000   Tommy Tuberville
...               ...    ...             ...       ...               ...
6963        9/16/2015    PFE        Purchase  $15,000     Gary C. Peters
7323        4/29/2015    PFE  Sale (Partial)  $15,000       David Perdue
7325         5/6/2015    PFE  Sale (Partial)  $15,000       David Perdue
7327         5/7/2015    PFE  Sale (Partial)  $15,000       David Perdue
7329        5/14/2015    PFE  Sale (Partial)  $15,000       David Perdue

[430 rows x 5 columns]

In [55]:
ready_data=dup_drop.dropna().set_index('transaction_date')
display(ready_data)

                 ticker            type    amount           senator
transaction_date
4/3/2023           MSFT  Sale (Partial)  $50,000   Tommy Tuberville
11/22/2022         MSFT        Purchase  $15,000       Dan Sullivan
11/30/2022         MSFT        Purchase  $50,000       Dan Sullivan
11/23/2022         MSFT     Sale (Full)  $50,000   Tommy Tuberville
11/23/2022         MSFT        Purchase  $15,000   Tommy Tuberville
...                 ...             ...       ...               ...
9/16/2015           PFE        Purchase  $15,000     Gary C. Peters
4/29/2015           PFE  Sale (Partial)  $15,000       David Perdue
5/6/2015            PFE  Sale (Partial)  $15,000       David Perdue
5/7/2015            PFE  Sale (Partial)  $15,000       David Perdue
5/14/2015           PFE  Sale (Partial)  $15,000       David Perdue

[430 rows x 4 columns]

This is the API for stock data that I will concat to the existing df, I will iterate through each row and input the ticker symbol into the API

Use top 5 tickers invested

In [ ]:
duration=180
for idx, row in senator_trades_df.iterrows(): 
    start=row['transaction_date'] # 2020-01-03
    ticker=row['ticker'] # AAPL
    df_in_timeframe=yf_data.loc[start:start+duration, ticker]
    return_in_timeframe=df_in_timeframe.iloc[-1]/df_in_timeframe.iloc[0]-1
    senator_trades_df.loc[idx, f'{duration}_days_return']=return_in_timeframe

Concat the 5 tickers close prices into one df and input into the for loop for yf_data

In [75]:
import yfinance as yf
from datetime import datetime, timedelta

# 6 years of data
six_year_end_date = datetime.today()
six_year_start_date = end_date - timedelta(days=365*6)

# 30 days of data
month_end_date = datetime.today()
month_start_date = end_date - timedelta(days=30)




msft_tickers = yf.Tickers('MSFT')
msft_data=msft_tickers.tickers['MSFT'].history(start=six_year_start_date, end=six_year_end_date)
msft_ticker_df=pd.DataFrame(msft_data)
msft_ticker_df.index=msft_ticker_df.index.date
# msft_ticker_df

aapl_tickers=yf.Tickers('AAPL')
aapl_data=aapl_tickers.tickers['AAPL'].history(start=six_year_start_date, end=six_year_end_date)
aapl_ticker_df=pd.DataFrame(aapl_data)
aapl_ticker_df.index=aapl_ticker_df.index.date
# aapl_ticker_df


bac_tickers=yf.Tickers('BAC')
bac_data=bac_tickers.tickers['BAC'].history(start=six_year_start_date, end=six_year_end_date)
bac_ticker_df=pd.DataFrame(bac_data)
bac_ticker_df.index=bac_ticker_df.index.date
# bac_ticker_df

dis_tickers=yf.Tickers('DIS')
dis_data=dis_tickers.tickers['DIS'].history(start=six_year_start_date, end=six_year_end_date)
dis_ticker_df=pd.DataFrame(dis_data)
dis_ticker_df.index=dis_ticker_df.index.date
# dis_ticker_df

pfe_tickers=yf.Tickers('PFE')
pfe_data=pfe_tickers.tickers['PFE'].history(start=six_year_start_date, end=six_year_end_date)
pfe_ticker_df=pd.DataFrame(pfe_data)
pfe_ticker_df.index=pfe_ticker_df.index.date
# pfe_ticker_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2017-08-04,25.516480,25.835625,25.440492,25.562073,27183398,0.00,0.0
2017-08-07,25.493682,25.524077,25.265721,25.311314,13188280,0.00,0.0
2017-08-08,25.326510,25.425294,25.242924,25.288517,16986475,0.00,0.0
2017-08-09,25.334112,25.425296,25.197335,25.417696,15807681,0.00,0.0
2017-08-10,25.356903,25.493680,25.235324,25.394897,19062539,0.00,0.0
...,...,...,...,...,...,...,...
2023-07-27,36.849998,37.009998,36.180000,36.200001,25346300,0.41,0.0
2023-07-28,36.349998,36.450001,36.020000,36.070000,24054100,0.00,0.0
2023-07-31,36.180000,36.189999,35.919998,36.060001,40265200,0.00,0.0
2023-08-01,35.880001,36.919998,35.369999,35.610001,40931600,0.00,0.0
2023-08-02,35.630001,35.889999,35.279999,35.349998,34291200,0.00,0.0

In [66]:
msft_filtered_ticker_df.reset_index('Date')
msft_filtered_ticker_df

KeyError: 'Requested level (Date) does not match index name (None)'

In [64]:
msft_filtered_ticker_df=msft_ticker_df[['Close']]
msft_filtered_ticker_df

                 Close
2023-07-03  337.989990
2023-07-05  338.149994
2023-07-06  341.269989
2023-07-07  337.220001
2023-07-10  331.829987
2023-07-11  332.470001
2023-07-12  337.200012
2023-07-13  342.660004
2023-07-14  345.239990
2023-07-17  345.730011
2023-07-18  359.489990
2023-07-19  355.079987
2023-07-20  346.869995
2023-07-21  343.769989
2023-07-24  345.109985
2023-07-25  350.980011
2023-07-26  337.769989
2023-07-27  330.720001
2023-07-28  338.369995
2023-07-31  335.920013
2023-08-01  336.339996
2023-08-02  327.500000

In [62]:
combined_df=pd.concat([ready_data,msft_filtered_ticker_df], ignore_index=True, axis=1)
display(combined_df)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects